  <%= form_tag(products_path, :method => "get") do %>
  <%= select_tag :filter, options_for_select(Company.all.collect { |p| [ p.name, p.id ] }), include_blank: true %>
    <%= submit_tag 'Filter' %>
<% end %>
<h1>Products</h1>
    <%= render @products %>  
<%= paginate @products %>